.formulario-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: var(--light);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.secao-pesquisa {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.btn-cadastro {
    background: var(--blue);
    color: var(--light);
    border: none;
    border-radius: 36px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: 0.3s ease;
}

.btn-cadastro:hover {
    background: var(--light-blue);
}

.cartoes-hospedagem {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.cartao {
    background: var(--light);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.cartao .foto {
    width: 100%;
    height: 150px;
    background: var(--light-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: var(--blue);
    font-size: 100px;

}

.cartao-corpo {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cartao-corpo .descricao h2 {
    font-size: 18px;
    font-weight: bold;
    color: var(--dark);
}

.cartao-corpo .descricao p {
    font-size: 14px;
    color: var(--dark-grey);
}

.botoes {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.btn-editar,
.btn-deletar {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    color: var(--light);
    transition: background 0.3s ease;
}

.btn-editar {
    background: var(--blue);
}

.btn-editar:hover {
    background: var(--light-blue);
}

.btn-deletar {
    background: var(--red);
}

.btn-deletar:hover {
    background: var(--orange);
}

@media(max-width:768px) {
    .cartoes-hospedagem {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media screen and (max-width: 540px){
    .botoes{
        gap: 5px;
        justify-content: center;
    }

    .btn-editar, .btn-deletar {
        padding: 10px 10px;
        border-radius: 8px;
    }
}